@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0%;
  margin: 0%;
  
  box-sizing: border-box
}

 /*Shared styles for navbar section*/
 .display-flex {
  display: flex;
}

.font-weight{
  font-weight: 700;
}

.nav-container{
  justify-content: space-between;
  padding-top: 16px;
  max-width: 1160px;
  align-items: center;
  margin: 0px auto;
  
}

.school {
  padding-top: 16px;

}

.logo-size{
  height: 62px;
  width: 62px;
  padding-right: 11px;
}

.navbar {
  justify-content: space-around;
  margin: 0px auto;
}

.list{
  display: flex;
  list-style: none;
  gap: 32px;
}

.btn-primary{
  border: none;
  border-radius: 12px;
  width: 197px;
  height: 50px;
  background-color: orange;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;

}

.home {
  color: orange;
  font-weight: 700;

}

.about {
  color: skyblue;
  font-weight: 700;
}

.facilities {
  color: #05D4DF;
  font-weight: 700;
}

.admission {
  color: #5D58EF;
  font-weight: 700;
}

.menubar {
  display: none;
}

/* Kids Section */

.kids-section {
  display: flex;
  max-width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding-top: 24px;
}

.kids-header {
  font-size: 3.5rem;

}

.empowering-color {
  color: orange;
}
.towards-color {
  color: #01ACFD;
}
.quoet {
  font-size: 1.25rem;
  padding-top: 24px;
}
.btn-primary1{
  background-color: black;
  font-size: 1.25rem;
  color: white;
  border: none;
  border-radius: 12px;
  width: 197px;
  height: 50px;
  margin-top: 24px;
}

/* Cart Section 1*/

.kinder-title {
  padding: 31px;
  font-size: 1.5rem;
}

.cart-paragraph {
  color: #808080;
  font-weight: 500px;
  font-size: 0.943rem;
}

.first-read {
  color: #64C8FF;
  font-weight: bold;
  font-size: 0.943rem;
  padding-top: 33px;
}
.second-read {
  color: #F0AA00;
  font-weight: bold;
  font-size: 0.943rem;
  padding-top: 33px;
}
.third-read {
  color: #8700FF;
  font-weight: bold;
  font-size: 0.943rem;
  padding-top: 33px;
}

.cart-title {
  font-size: 2.875rem;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.cart-section1{
  background-image: url(../assets/bg.png);
  max-width: 100%;
}


.grid-section1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 18.86px;
  max-width: 1160px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  gap: 30px;
  padding: 70px 0px;

}

.first-cart {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, #DEF5FF, #FFFFFF, #FFFFFF);
  border-radius: 18px;
  padding: 50px;
 
}

.second-cart {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, #FFF4DC, #FFFFFF, #FFFFFF);
  border-radius: 18px;
  padding: 50px;
  
}

.third-cart {
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
  padding: 50px;
  border-radius: 18px;
  background-image: linear-gradient(to bottom, #F2E8FF, #FFFFFF, #FFFFFF)
 
}

.slider {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

/* Cart Section 2 */

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;

}
.last-btn {
  background-color: black;
  font-size: 1.25rem;
  color: white;
  border: none;
  border-radius: 12px;
  width: 197px;
  height: 50px;
  margin-top: 60px;
  
}

.first-img-section {
  background-color: white;
  max-width: 630px;
  border-radius: 10px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
}

.cart1, img {
  border-radius: 10px;
  max-width: 100%;
}

.stories-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1160px;
  padding: 150px 0px;
  gap: 10px;
  
}

.cart-section2 {
  background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  max-width: 100%;
}

.grid-section2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content:center;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: left;
  height: 630px;
  width: 540px;
  gap: 20px;
  
}

.first-img-title {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  padding: 58px 38px;
  margin-top: -20px;
}

.first-img-text {
  font-size: 16px;
  color: #666666;
  font-weight: medium;
  padding: 47px;
  text-align: left;
}

.others-img-text {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  padding: 33px;
  text-align: left;
}

.date1 {
  border: none;
  border-radius: 48px;
  background-color: #3CD8E8;
  max-width: 174px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  left: 40px;
  top: -30px;
  color: white;

}
.others-img {
  border-radius: 10px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.date2 {
  border: none;
  border-radius: 48px;
  background-color: #95B226;
  max-width: 174px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  left: 40px;
  top: -30px;
  color: white;
  
}
.date3 {
  border: none;
  border-radius: 48px;
  background-color: #5D58F0;
  max-width: 174px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  left: 40px;
  top: -30px;
  color: white;

}
.date4 {
  border: none;
  border-radius: 48px;
  background-color: #95B226;
  max-width: 174px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  left: 40px;
  top: -30px;
  color: white;

}
.date5 {
  border: none;
  border-radius: 48px;
  background-color: #95B226;
  max-width: 174px;
  text-align: center;
  padding: 15px 15px;
  position: relative;
  left: 40px;
  top: -30px;
  color: white;

}

@media screen and (max-width: 576px) {
    .school, .list, .btn-primary{
      display: none;
    }
    .menubar {
      display: block;
    }
    .nav-container{
      border: 1px solid orange;
      padding: 10px 10px;
      
    }
    .logo{
      height: 46px;
      width: 46px;
    }
    .kids-section {
      flex-direction: column-reverse;
      margin-top: 28px;
      text-align: center;
    }
    .grid-section1 {
      grid-template-columns: 1fr;
      text-align: center;
      align-items: center;
    }
    .slider {
      display: none;
    }

    .first-img-section {
      display: none;
    }

    .grid-section2 {
      grid-template-columns: repeat(2,1fr);
      justify-content:center;

    }
    
} 